{% extends 'base.html' %}

{% load static %}

{% block page_title %}
	Home Page
{% endblock %}

{% block header_reference %}
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
{% endblock %}

{% block page_content %}
{#	Welcome to website#}
{#    {{ a }}#}
    <section id="welcome">
        <header>
            <img src="{% static 'blogs/images/img.png' %}" alt="programs">
            <h2>My website</h2>
        </header>
        <p>Hello,my name is Amiri,I'm Developer</p>
    </section>

    <section id="latest-posts">
        <h2>
            Leatest Posts
        </h2>
{#        <ul>#}
{#            <li><a href="*">Test</a></li>#}
{#            <li><a href="*">Test</a></li>#}
{#            <li><a href="*">Test</a></li>#}
{#        </ul>#}
        <ul>
            {% for post in leatest_post %}
                <li>
                    {% include 'blogs/includes/post.html' %}
                </li>

            {% endfor %}

        </ul>
    </section>

    <section id="about">
        <h2>Explanations about the site</h2>
        <p>The site includes the training of the most popular promgramming languages.</p>
        <p>Languages is such: Python,Django,PHP, etc.</p>
    </section>
{% endblock %}
